<div class="container d-flex justify-content-center mt-2">
  <div class="col-8 card text-center bg-teal-300 bg-gradient p-3">

    <div class="card-title">
      <h5>Search a Pokemon here:</h5>
    </div>

    <div class="card-content">
      <div class="input-group mb-3">
        <span class="input-group-text"
              id="nameLabel">Search:</span>
        <input #searchBox (keyup)="search(searchBox.value)"
               type="text"
               class="form-control"
               placeholder="Search for a pokemon here"
               aria-label="searchLabel"
               aria-describedby="search"
               id="search">
      </div>
    </div>

    <div *ngIf="pokemonsLoading" class="">
      <app-loader></app-loader>
      <p><em>Pokemon/s Loading...</em></p>
    </div>

    <div class="list-group">
      <a *ngFor="let pokemon of pokemons$ | async"
         (click)="goToDetail(pokemon)"
         class="list-group-item list-group-item-action list-group-item-light"
      >
        {{pokemon.name}}
      </a>
      <a *ngIf="noPokemon"
         class="list-group-item list-group-item-action list-group-item-light text-danger"
      >
        Sorry, no pokemon's matching your search
      </a>
    </div>

  </div>
</div>
