<!--add pokemon section-->
<div class="container">
  <div class="d-flex justify-content-center m-1">
    <h5>To add a Pokemon, click here:</h5>
  </div>
  <div class="d-flex justify-content-center">
   <span appCardBorder="#26A69A" class="btn btn-outline-secondary rounded-pill" (click)="goToAdd()">
     <svg xmlns="http://www.w3.org/2000/svg"
          width="2.5rem"
          height="3rem"
          fill="currentColor"
          class="bi bi-plus-circle-fill"
          viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
   </span>

  </div>

  <!--search pokemon section START-->

  <app-search-pokemon></app-search-pokemon>

  <!--search pokemon section END-->

</div>



<!--show pokemon's list section-->

<div class='container'>

  <h3 class="d-flex justify-content-center m-5">My Pokemon Collection</h3>

  <div class="d-flex justify-content-center flex-wrap">

    <div *ngFor='let pokemon of pokemons'
         class="m-1 shadow p-3 mb-5 bg-body rounded"
         appCardBorder="#26A69A"
    >

      <app-card-template [pokemon]="pokemon" (click)="selectPokemon(pokemon)"></app-card-template>


    </div>

  </div>


</div>
