<!--add pokemon section-->
<app-add-pokemon></app-add-pokemon>


<!--search pokemon section START-->

<app-search-pokemon></app-search-pokemon>

<!--search pokemon section END-->




<!--show pokemon's list section-->

<div class='container'>

  <h3 class="d-flex justify-content-center m-5">My Pokemon Collection</h3>

  <div class="d-flex justify-content-around flex-wrap">

    <div *ngFor='let pokemon of pokemons' class="m-1 shadow p-3 mb-5 bg-body rounded">

      <div class="card bg-light bg-gradient"
           (click)="selectPokemon(pokemon)"
      >
        <img [src]="pokemon.picture"
             class="card-img-top"
             alt="pokemon face">
        <div class="card-body">
          <h5 class="card-title mb-2">{{ pokemon.name }}</h5>

          <div class="typeBox">
            <p class="card-text">
                        <span *ngFor='let type of pokemon.types' class="badge {{type | pokemonTypeColor}} bg-gradient m-1">
                        {{ type }}
                        </span>
            </p>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated: {{ pokemon.created | date:'shortDate' }}</small>
        </div>
      </div>

    </div>

  </div>


</div>
