<div class='container'>
  <div class="d-flex justify-content-center">
    <div class="card text-center bg-teal-300 bg-gradient p-3">

      <div class="card-title">
        <h4>Login Page</h4>
        <p><em>{{message}}</em></p>

        <div *ngIf="connectingStatus" class="">
          <app-loader></app-loader>
        </div>

      </div>


      <div class="card-body">
        <form (ngSubmit)="login(loginForm.value)" #loginForm="ngForm">

          <div class="input-group mb-3">
            <span class="input-group-text">Name:</span>
            <input type="text"
                   class="form-control"
                   placeholder="name"
                   aria-label="nameLabel"
                   aria-describedby="name"
                   [(ngModel)]="user.name"
                   name="name"
                   required
                   #name="ngModel"
            >
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="name.touched &&  name.hasError">
            <small>name is required</small>
          </div>

          <div class="input-group mb-3">
                  <span class="input-group-text"
                        id="pwLabel">Password:</span>
            <input type="text"
                   class="form-control"
                   placeholder="password"
                   aria-label="pwLabel"
                   aria-describedby="password"
                   [(ngModel)]="user.password"
                   name="password"
                   #password="ngModel"
                   required
            >
          </div>
          <div class="alert alert-danger" role="alert"
            *ngIf="password.touched && password.hasError">
            <small>password is required</small>
          </div>

          <div class=" mt-2">
            <button
              id="loginButton"
              type="submit"
              class="btn bg-teal-100 bg-gradient shadow-sm"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>

            <a (click)="logout()"
               *ngIf="authServiceCheckLogin">
              Logout
            </a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
