<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-teal-200">
  <div class="container-fluid" >
    <a class="navbar-brand" (click)="goHome()">
      <img
        [src]="(authService.checkLogin$() | async) ? pokeballOpened : pokeball "
        [class]="(authService.checkLogin$() | async) ? pokeballOpened: '' "
        alt="Pokeball"
      >
      <span class="ms-2">{{myTitle}}</span>

    </a>

    <div>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
              (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarSupportedContent" [class]="{'collapse': collapsed, 'navbar-collapse': true}">
        <span class="navbar-text"
              [ngStyle]="{'cursor':'pointer'}"
              (click)="logout()"
              *ngIf="(authService.checkLogin$() | async)"
        >
          logout
        </span>
        <span class="navbar-text"
              [ngStyle]="{'cursor':'pointer'}"
              (click)="login()"
              *ngIf="!(authService.checkLogin$() | async)"
        >
          login
        </span>
      </div>
    </div>
  </div>
</nav>
